{% extends 'auth/layout.auth.twig' %}

{% block content %}
    <br>
    <br>
    <br>
    <div align = 'center'>
        <h3>Successfully logged out.</h3>
    </div>
    <br>
    <div align = 'center'>
    </div>
    <br>
    <div align = 'center' width = '90%'>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
        
    </div>
    <br>
    <br>
    <br>
{% endblock %}
