{% extends 'auth/layout.auth.twig' %}

{% block content %}
    <br>
    <br>
    <br>

    {% include 'partials/flash.twig' %}

    <h1 class="text-center">Reset password</h1>
    <br><br>

    <form class="form-horizontal" method="POST">
        <div class="form-group">
            <label for="password" class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" name="password" id="password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="password_again" class="control-label col-md-2">Retype password</label>
            <div class="col-md-10">
                <input type="password" name="password_again" id="password_again" class="form-control" />
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-default" />
        </div>


    </form>

{% endblock %}