<!--########################################################################-->
<!--########################################################################-->
<!--## Discovery without Bountdaries                                      ##-->
<!--## Data Science                                                       ##-->
<!--## Data Integration Presentation to the Pachnis lab                   ##-->
<!--########################################################################-->
<!--########################################################################-->


<!--########################################################################-->
<!--########################################################################-->
<!--## Variable                                                           ##-->
<!--########################################################################-->
<!--########################################################################-->
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/white.css">
	
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
		<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
		<script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
	
		<!-- Bootstrap core CSS -->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
		<!-- Bootstrap tables -->
		<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css' rel='stylesheet'>
		
		<style>
			.reveal section img { background:none; border:none; box-shadow:none; }
		</style>
		
	</head>
	
	<body>
		<div class="reveal">
			<div class="slides">
	
				<!--########################################################################-->
				<!--########################################################################-->
				<!--## Begin Main Section                                                 ##-->
				<!--########################################################################-->
				<!--########################################################################-->

				<!-- Begin First Slide -->
				<section>
					<img src="mdata/job/html/assets/images/Slide1.JPG" width="70%" height="auto">
					<br>
					<font  size = "6" face="arial">
					<u>https://biologic.crick.ac.uk/job</u>
					</font>
				</section>
				<!-- End First Slide -->

				<!--########################################################################-->
				<!--########################################################################-->
				<!--## Begin Section                                                      ##-->
				<!--########################################################################-->
				<!--########################################################################-->



				<section>

					<!-- Begin Slide -->
					<section data-background-image="mdata/job/html/assets/images/crick.institute.jpeg" id="start1">
						 <div class="container-fluid" style="background-color:white;">
								<div class="row">
									<div class="col-sm-12 col-md-12" style="background-color:white;">
										<h2>Discovery without boundaries</h2>
									</div>
								</div>
								
								<div class="row">
									<div class="col-sm-6 col-md-6" style="background-color:#d3d3d3;">
										<p>Stefan Boeing, PhD</p><br>
									</div>
									<div class="col-sm-6 col-md-6" style="background-color:#d3d3d3;">
										<p><u><font color = "blue"> <a href="https://www.crick.ac.uk/research/science-technology-platforms/bioinformatics-and-biostatistics/" target="_blank">Crick Bioinformatics</a></u> &<u> <a href="https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing" target="_blank">Scientific Computing</a> </font></u> </p>
									</div>
								</div>
						 </div>
					</section>

					<!-- Begin Slide -->
					<section data-background-image="mdata/job/html/assets/images/crick.institute.jpeg" id="start2">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-3 col-md-3"></div>
								<div class="col-sm-6 col-md-6" style="background-color:white;">
								Links to 
								</div>
								<div class="col-sm-4 col-md-4"></div>
							</div>
							
							<div class="row">
								<div class="col-sm-3 col-md-3"></div>
								<div class="col-sm-6 col-md-6" style="background-color:white;">
								<u><font color = "blue"> <a href="https://www.crick.ac.uk/research/science-technology-platforms/bioinformatics-and-biostatistics/" target="_blank">Crick Bioinformatics</a> </font></u> 
								</div>
								<div class="col-sm-4 col-md-4"></div>
							</div>
							
							
							<div class="row">
								<div class="col-sm-3 col-md-3"></div>
								<div class="col-sm-6 col-md-6" style="background-color:white;">
								<u><font color = "blue"> <a href="https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing" target="_blank">Crick Digital Development</a> </font></u> 
								</div>
								<div class="col-sm-4 col-md-4"></div>
							</div>
							
						</div>
					</section>

					<!-- Begin Slide -->
					<section id="slide-CV">
						<h2>Person(ality)</h2>


							<font size = "6">
								<a href="https://www.linkedin.com/in/stefan-boeing-84576112" target = "_blank">CV (LinkedIn)</a>
								<br>

							<a href="https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator" target = "_blank">INTJ</a>
								<br>
							    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=boeing+stefan%5Bauthor%5D&sort=date" target="_blank">Publicationlist</a>
							</font>

								<div class="row">
									<div class="col-sm-2 col-md-2"></div>
									<div class="col-sm-8 col-md-8">
										<font size = "6">
											<br>
										<b>Major Themes:</b> <br>
										<ul>
											<li>Endurance, Reliability, Consistency</li>
											<li>Customer Service Mentality</li>
											<li>Short-term Delivery - Long-term Thinking</li>
											<li>Process Optimization</li>
											<li>Data Story Telling</li>
											<li>Translator: <br>Wetlab - Bioinformatics - Developers - IT</li>
										</ul>
										</font>
									</div>
									<div class="col-sm-2 col-md-2"></div>
							</div>

					</section>

					<section id="slide-CV">
						<h2>Interests</h2>
						<a href="https://www.youtube.com/watch?v=ZRHcTlCZXrE" target = "_blank">Preventive Medicine</a>
						<br>
						AI/ML in Discovery Science
						<br>
						Long-distance Running
						<br>


					</section>

					<section>
						<h2>References</h2>
						<p>
						<ul>
						<li><a href="mailto:Jesper.Svejstrup@crick.ac.uk">Jesper Svejstrup</a> - Senior Group Leader <br> </li>
						<li><a href="mailto:amy.strange@crick.ac.uk">Amy Strange</a> - Head of Digital Development</li>
						<li><a href="mailto:Aengus.Stewart@crick.ac.uk">Aengus Stuart</a> - Head of Bioinformatics</li>
						<li><a href="mailto:jerome.nicod@crick.ac.uk">Jerome Nicod</a> - Head of Sequencing</li>
						</ul>
						</p>
					</section>

					<section>
						<img src="mdata/job/html/assets/images/screen.slide.jpg" width="90%">
					</section>


					<section>
						<h2>Bioinformatics Consultant</h2>
						<br>

						<p>
							<font size = "6">
								Anastasiou, Behrens, Bonfanti, Boulton, <b>Briscoe</b>, Emedlab, <b>Gould</b>,
								Guillemot, Ley, Lovell-Badger, Niakan, <b>Pachnis</b>, Papayannopoulos,
								<b>Sahai</b>, Santos,
								<b>Schaefer</b>, Svejstrup, Swanton, Tapon, Tate, Thompson,
								Thorpe, Tolar, Tooze, Treisman, Tybulewicz
							</font>
						</p>
					</section>










					<section>
						<h2>Coding Experience</h2>
						<br>
						<div class="container">
							<font color="#ffffff">
								<div class="row align-items-center justify-content-center">
									<div class="col-sm-3-offset-1 col-md-3"><img src="mdata/job/html/assets/images/R.jpg" width="60%"></div>

									<div class="col-sm-3-offset-1 col-md-3"><img src="mdata/job/html/assets/images/bash.png" width="60%"></div>

									<div class="col-sm-3-offset-1 col-md-3"><img src="mdata/job/html/assets/images/js.png" width="60%"></div>
								</div>

								<div class="row">
									<div class="col-sm-12 col-md-12"><br></div>
								</div>

								<div class="row align-items-center justify-content-center">
									<div class="col-sm-3 col-md-3"><img src="mdata/job/html/assets/images/php.jpg" width="60%"></div>
									<div class="col-sm-3 col-md-3"><img src="mdata/job/html/assets/images/mysql.png" width="60%"></div>
									<div class="col-sm-3 col-md-3"><img src="mdata/job/html/assets/images/nextflow.png" width="60%"></div>
								</div>

								<div class="row">
									<div class="col-sm-12 col-md-12"><br></div>
								</div>

								<div class="row align-items-center justify-content-center">
									<div class="col-sm-3 col-md-3"><img src="mdata/job/html/assets/images/python.png" width="60%"></div>
									<div class="col-sm-3 col-md-3"></div>
									<div class="col-sm-3 col-md-3"><img src="mdata/job/html/assets/images/hpc.jpg" width="60%"></div>
								</div>
							</font>
						</div>

					</section>

					<section>
						<h3>Ongoing 'Full-stack' <br>Single-cell Projects</h3>
						<p>
						<font size = "6">
						<ul>
							<li>Bonfanti Lab: Characterization of Human Embryonic Thymi</li>
							<li>Pachnis Lab: Characterization of Glia to Neuron Transdifferentiation</li>
							<li>Gould Lab: Experimental Glioblastoma Drug Treatments</li>
							<li>Lovell-Badge Lab: Embryonic Development</li>
							<li>Schaefer Lab: Characterization of Olfactory Bulb Neurons</li>
						</ul>
						</font>
						</p>
					</section>

					<section>
						<h2>Portfolio Quicklinks</h2>
						<p>
						<ul>
							<li>
							<a href="https://biologic.crick.ac.uk/agl372A" target = "_blank"> Single-cell RNA-Seq Glioblastoma</a>
							</li>

							<li>
								<a href="https://biologic.crick.ac.uk/EMTAB6653" target="_blank">Single-cell RNa-Seq Tumor Microenvironment</a>
							</li>
							<li>
								<a href="https://biologic.crick.ac.uk/sll378" target="_blank">
									Bulk-RNA Seq Psoriasis
								</a>
							</li>
						    <li>
								<a href="https://biologic.crick.ac.uk/tool25" target="_blank">R Shiny Package sc Visualization</a>
							</li>
							<li>
								<a href="https://biologic.crick.ac.uk" target = "_blank"> The bioLOGIC Project</a><br> <font size = "4">    user: <b>demo</b> password: <b>demo</b> </font>
							</li>
						</ul>

						</p>
					</section>

					<section>
						<style>
							body {
								margin: 0;            /* Reset default margin */
							}
							iframe {
								display: block;       /* iframes are inline by default */
								background: #000;
								border: none;         /* Reset default border */
								height: 100vh;        /* Viewport-relative units */
								width: 100vw;
							}
						</style>

						<iframe src="https://biologic.crick.ac.uk/mdata/agl372A/html/FeatureView.html" title="Shiny Example"></iframe>
					</section>

					<section>
						<style>
							body {
								margin: 0;            /* Reset default margin */
							}
							iframe {
								display: block;       /* iframes are inline by default */
								background: #000;
								border: none;         /* Reset default border */
								height: 100vh;        /* Viewport-relative units */
								width: 100vw;
							}
						</style>

						<iframe src="https://bioinformatics.crick.ac.uk/shiny/users/boeings/sbl127_app/" title="Usage"></iframe>
					</section>

					<!-- Begin Slide -->


					<!-- Begin Slide -->
				</section>
				<!-- End Slide -->

				
<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	
<!-- Begin Slide -->
				<section>
					<h4>Structure of the Discussion</h4>
					<br>
					
					<div class="container-fluid" >
						<div class="row">
							<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							<div class="col-sm-4 col-md-4" style="background-color:#009900;border:1px solid black;">
								<p>
									<a href="#/slide-innovation">
										<font color="#ffffff" size = 5>
											Innovation
										</font>
									</a>
								</p>
							</div>
							<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
						</div>
						
						<div class="row">
							<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							<div class="col-sm-4 col-md-4" style="background-color:#c0c0c0;border:1px solid black;">
								<p>
									<a href="#/slide-discovery">
										<font color="#ffffff" size = 5>
											How to make a discovery?
										</font>
									</a>
								</p>
							</div>
							<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
						</div>
						
						<div class="row">
							<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							<div class="col-sm-4 col-md-4" style="background-color:#009900;border:1px solid black;">
								<p>
									<a href="#/slide-toolmaking">
										<font color="#ffffff" size = 5>
											Toolmaking
										</font>
									</a>
								</p>
							</div>
							<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
						</div>
						
						<div class="row">
							<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							<div class="col-sm-4 col-md-4" style="background-color:#c0c0c0;border:1px solid black;">
								<p>
									<a href="#/slide-summary">
										<font color="#ffffff" size = 5>
											Summary
										</font>
									</a>
								</p>
							</div>
							<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
						</div>
						
					</div>
					
				</section>
				<!-- End Slide -->
				

<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	


				
				<section  id="slide-innovation">
					<style>
						html.evolution .slide-background {
							opacity: 0.4 !important;
						}

						html.evolution2 .slide-background {
							opacity: 0.4 !important;
						}
					</style>
				
				<!-- Begin Slide -->
					<section data-background-image="mdata/job/html/assets/images/train.evolution2.jpg" data-background-size="800px" data-state="evolution2">
						<h1>Innovation</h1>
					
						Revolution through Evolution
					</section>
					
					
					<section>
                <h2>Development Principles </h2>
                <br>
                <div class="container">
                    <div class="row">
            <div class="col-md-5" ><img src="mdata/job/html/assets/images/agile.jpg" width="300"></div>
            <div class="col-md-1" ></div>
            <div class="col-md-5" ><img src="mdata/job/html/assets/images/modular.jpg" width="300"></div>
            <div class="col-md-1" ></div>
                    </div>
                    <br>
                    
                    <div class="row">
            <div class="col-md-5"><font size = 5><b>AGILE</b></font></div>
            <div class="col-md-1"><font size = 5>.</font></div>
            <div class="col-md-5"><font size = 5><b>Modular</b> </font></div>
            <div class="col-md-1"><font size = 5>.</font></div>
                    </div>
                    
                </div>
            </section>
			
			<section>
			    
			    
			    <h4>Project Management</h4>
				    <div class="row">
                        <div class="col-md-4" class="center-block">
                            <a href = "https://medium.com/trainingpeaks-product-development/the-phoenix-project-and-software-product-development-602a2a7adfd0" target = "_blank">
                            <img data-src="mdata/job/html/assets/images/phoenix.book.jpg" width="90%" height="auto">
                            </a>
                        </div>
          
                        <div class="col-md-8"  class="align-middle">
                            <font size = 5><b>
                                <br>
                                <br><br>
                                <br><br>
                                <ul>  
                                  <li> Business Projects </li>
                                  <li> Internal Projects </li>
                                  <li> Operational Change </li>
                                  <li> Unplanned Work </li>
                                </ul>
                            </b></font>
                        </div>
                    </div>
            </section>
					
					
					
					<section>
						<h4>Innovation Potential in Data Usage</h4>
						<br>
						
						<div class="container-fluid" >
							<div class="row">
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
								<div class="col-sm-4 col-md-4" style="background-color:#009900;border:1px solid black;">
									<p>
										
											<font color="#ffffff" size = 5>
												Experimental Planning
											</font>
										
									</p>
								</div>
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							</div>
							
							<div class="row">
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
								<div class="col-sm-4 col-md-4" style="background-color:#c0c0c0;border:1px solid black;">
									<p>
										
											<font color="#ffffff" size = 5>
												Primary Data Analysis
											</font>
										
									</p>
								</div>
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							</div>
							
							<div class="row">
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
								<div class="col-sm-4 col-md-4" style="background-color:#009900;border:1px solid black;">
									<p>
										
											<font color="#ffffff" size = 5>
												Discovery
											</font>
										
									</p>
								</div>
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							</div>
							
							<div class="row">
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
								<div class="col-sm-4 col-md-4" style="background-color:#c0c0c0;border:1px solid black;">
									<p>
										
											<font color="#ffffff" size = 5>
												Validation
											</font>
										
									</p>
								</div>
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							</div>
							
							<div class="row">
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
								<div class="col-sm-4 col-md-4" style="background-color:#009900;border:1px solid black;">
									<p>
										
											<font color="#ffffff" size = 5>
												Publication
											</font>
										
									</p>
								</div>
								<div class="col-sm-4 col-md-4" style="background-color:white;"></div>
							</div>
							
						
							
							
							
						</div>
						<br>
					</section>
					
					
					<section>
						<h4>(Start-Up) Toolmaking Model</h4>
						Fail fast, <br>
						Fail Cheap,<br>
						Fail Forward <br>
							
							<img src="mdata/job/html/assets/images/startup.png" width="50%">
						
					</section>
					
					
					
					
					
					<section>
						<h2>Toolmaking Considerations</h2><br>
						Solve relevant problems<br>
						Avoid gettting lost in translation or irrelevant details<br><br>
						Translate research requirements into technical specifications and feasible solutions<br><br>
						Identify re-occuring problems<br><br>
						
					</section>

					<section>
						<img src="mdata/job/html/assets/images/Slide22.JPG" width="auto" height="90%">
						<br>
						<!--
						<font  size = "6" face="arial">
							<u>https://biologic.crick.ac.uk/concept</u>
						</font>
						-->
					</section>

					<section>
						<img src="mdata/job/html/assets/images/jobs.presentation.jpg" width="90%">
					</section>
					
					
				</section>
				<!-- End Slide -->	



				
<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	
				<!-- Begin Slide -->
				
				<!-- End Slide -->
					

<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	
<!-- Begin Slide -->
				
				<!-- End Slide -->



<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	
				<!-- Begin Slide -->
				<section  id="slide-discovery">
					<section>
						<div align = "center">
							<font size = 6 face = "arial">
							How to <font color = "#009900"> <b> facilitate</b></font> a <br>
							<span class="fragment fade-in" data-fragment-index="1">
								<p class="fragment highlight-red" data-fragment-index="1">
									<font color = "#ff0000">
									<b>physiological relevant</b>
									</font>
								</p>
							</span>
							discovery? 
							</font>
						</div>
					</section>
					
					
					
					<section>
						<h4>Link physiological problem and molecular mechanism of action</h4>
						<br>
						<div class="container-fluid" >
						<div class="row">
							<div class="col-sm-1 col-md-1" style="background-color:white;"></div>
							<div class="col-sm-5 col-md-5  style="background-color:grey;">
								<a href="https://www.ukbiobank.ac.uk/" target="blank">
									<img src="mdata/job/html/assets/images/UKBiobank_data_types_21July_2017_EMBL-EBI.jpg" width="80%">
								</a>
							</div>
							<div class="col-sm-5 col-md-5 style="background-color:grey;">
								<a href="https://clue.io/" target="blank">
									<img src="mdata/job/html/assets/images/connectivitymap.jpg" width="80%">
								</a>
							</div>
							<div class="col-sm-1 col-md-1" style="background-color:white;"></div>
						</div>
						</div>
						
						<br>
						<font size = 4 face = "arial">
						Be aware of genes that are linked to diseases or drugs and are relevant to your favourite pathway
						</font>
						
					</section>


					<section>
						<h2>Process Optimisation </h2>
						<p><font size="4"> - Increasing the probability of making a physiological relevant discovery - </font></p>
						<br>
						<div class="container">
							<div class="row">
								<div class="col-md-3">Data Source</div>
								<div class="col-md-3">Warehouse</div>
								<div class="col-md-3">Data Processing</div>
								<div class="col-md-3">Customer</div>
							</div>
							<div class="row">

								<script>
									var gStorage = {};

									function toogle(anImage, anAltSrcArr) {
										if (typeof(anImage) === "undefined" || typeof(anAltSrcArr) === "undefined" || anAltSrcArr.length === 0) {
											return;
										}

										var id = anImage.id;
										var oldSrc = anImage.src;

										if (typeof(gStorage[id]) === "undefined") {
											gStorage[id] = {
												'id': id,
												'origSrc': oldSrc,
												'i': 0
											};
										}

										gStorage[id].i += 1;
										if (gStorage[id].i > anAltSrcArr.length) {
											gStorage[id].i = 0;
										}

										if (gStorage[id].i === 0) {
											anImage.src = gStorage[id].origSrc;
										} else {
											anImage.src = anAltSrcArr[gStorage[id].i - 1];
										}
									}
									}
								</script>

								<div class="col-md-3">
									<img src="mdata/job/html/assets/images/zollverein.png" width="200">
								</div>

								<div class="col-md-3"><img src="mdata/job/html/assets/images/warehouse.png"  onclick="this.src='mdata/job/html/assets/images/warehouse.png'" width="200"></div>
								<div class="col-md-3"><img src="mdata/job/html/assets/images/factory.png" width="200"></div>
								<div class="col-md-3"><img src="mdata/job/html/assets/images/archimedes.jpg" width="200"></div>
							</div>
						</div>

					</section>
					
					
					<section>
						<img src="mdata/job/html/assets/images/Slide11.jpg" width="90%">
					</section>
					
					
					
					
					<section>
						<h4>The North Korea Problem</h4>
						<font size = 5>
						- Turning abstract data points into data stories and process movies -
						</font>
						
						<br>
						
						<div class="container-fluid" >
						<div class="row">
							<div class="col-sm-1 col-md-1" style="background-color:white;"></div>
							<div class="col-sm-10 col-md-10">
								<img src="mdata/job/html/assets/images/Slide15.w.o.headline.jpg" width="80%">
							</div>
							<div class="col-sm-1 col-md-1" style="background-color:white;"></div>
						</div>
						</div>
					</section>
					
					<section>
					    <h4>Obtaining Actionable Insight</h4>
                                            <font size = 4> Light-emission as marker for economic activity</font>
          <img data-src="mdata/job/html/assets/images/north.korea.lights.png" width="auto" height="50%">
                    </section>
					
					<section>
						<!--<h4>The North Korea Problem</h4>
						- Turning abstract data points into process movies - -->
						
						<div class="container-fluid" >
						<div class="row">
							<div class="col-sm-1 col-md-1" style="background-color:white;"></div>
							<div class="col-sm-10 col-md-10">
								<img src="mdata/job/html/assets/images/present.past.future.jpg" width="80%">
							</div>
							<div class="col-sm-1 col-md-1" style="background-color:white;"></div>
						</div>
						</div>
					</section>
					
					
					
					<section  id="tbd">
						<h4>Diagnosis</h4>
						
						<font size="6" face="arial">
						<ul>
							<li class="fragment fade-in" data-fragment-index="1">
								Biological Datasets have become big, but not yet big and comprehensive enough for AI/Machine learning
							</li>
							
							<li class="fragment fade-in" data-fragment-index="2">
								A better utilization of existing lab- and world knowledge/data is required
							</li>
							
							<li class="fragment fade-in" data-fragment-index="3">
								Scattered Excel Sheets and Static Plots are NOT the way forward
							</li>
							
							<li class="fragment fade-in" data-fragment-index="4">
								It would be desirable to make it easy to discuss results and hypotheses whenever and whereever 
							</li>
							
							<li class="fragment fade-in" data-fragment-index="5">
									Maintain your data and results in an accessible state
							</li>
							
							<li class="fragment fade-in" data-fragment-index="6">
									Results and quality measures should be linked
							</li>
							
							<li class="fragment fade-in" data-fragment-index="7">
									Enable (<font color = "#ff0000">not enforce!</font>) data and result sharing
							</li>
						</ul>
						</font>
					</section>
					
					
					<section>
						<b>Need to learn from patchy and/or noisy datasets?</b><br>
						- Form Hypotheses! -
						
						<br>
						<br>
						<br>
						<a href = "https://www.youtube.com/watch?v=GCtTtKKAhyE" target="blank">Link to Video</a> 
					</section>
					
					
					<section>
						<h4>Fit high-resolution data into the low-resolution big picture</h4>
						
						<img src="mdata/job/html/assets/images/cramer.pic.jpg" width="20%"><br>
						<a href = "https://www.nature.com/articles/nature22328" target="blank"><font size="1" face="arial">Taken from: Nozawa et al. Nature 2017</font></a>
						
					</section>
					
					
					
					
				</section>
				<!-- End Slide -->				



				
				

<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	

				<!-- Begin Slide -->
				<style>
					html.infrastructure .slide-background {
						opacity: 0.4 !important;
					}
						
				</style>
				<section  id="slide-toolmaking">
				
				
				<!-- Begin Slide -->
					
					<section id="slide-toolmaking" >
						<h4>Toolmaking <br> Infrastructure for Discovery</h4>
						<img src="mdata/job/html/assets/images/louis_pasteur_in_workshop_with_microscope_20090415_1559124873.jpg" width="50%" height="auto">
				                <br>Discovery Science viewed as a discovery pipeline optimization task	
					</section>
				
					<section>
						<h3>Infrastructure Solutions</h3>
						<br>
						<font size="6" face="arial">
						<ul>
							<li class="fragment fade-in" data-fragment-index="1">
									<a href = "https://biologic.crick.ac.uk/", target="blank">The bioLOGIC Project</a> (Testuser: demo Testpassword: demo)
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="2">
									<a href ="mdata/job/html/assets/documents/Rtutorial.html" target="blank">The Script Education Project</a>
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="3">
									<a href = "http://ms1.thecrick.org/systems" target="blank">CrickGEO</a> (internal only) 
							</li>
							
						</ul>
						</font>
					</section>
					
					<section>
						<h4>The bioLOGIC Project - Design Objectives</h4>
						<br>
						
						<font size="6" face="arial">
						<ul>
			                                <li class="fragment fade-in" data-fragment-index="1">
                                                             Discovery Science is viewed as a discovery pipeline optimization task (...) 
                                                        </li>
                                                        <br>				
                           
                                                        <li class="fragment fade-in" data-fragment-index="1">
									Everything in one Place: primary data analysis documentation, QC, data, enrichments, results, summaries, ...
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="2">
									To facilitate data interrogation and scientific discourse
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="3">
									Meaningful integration of relevant lab- and world-knowledge
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="4">
									To wrap data around your way of thinking
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="5">
									<a href = "https://biologic.crick.ac.uk/demo", target="blank">Example</a>
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="5">
									Better data and result presentation post-publication like <a href= "http://www.tumorportal.org/" target="blank">here</a>
							</li>
						</ul>
						</font>
					</section>

					<section>
						<h4>bioLOGIC Project - Implementation I</h4>
							<img src="mdata/job/html/assets/images/Slide16.JPG" width="70%" height="auto">
							<br>
							Modular
					</section>
						
					<section>	
						<h4>bioLOGIC Project - Implementation II</h4>
							<img src="mdata/job/html/assets/images/circle.slide.jpg" width="70%" height="auto">
							<br>
							
					</section>
					
					
					
					<section>
						<h4>The Data Literacy Project</h4>
						<br>
						<br>
						Learn to script and play with YOUR data:<br>
						<a href ="mdata/job/html/assets/documents/Rtutorial.html" target="blank">Example</a>
						
					</section>
					
					<section>
						<h1>Crick GEO</h1>
						<font size="6" face="arial">
						<ul>
							<li class="fragment fade-in" data-fragment-index="1">
									Find and be found
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="2">
									Increase the probability of your work being published
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="3">
									Future proof your research (AI/Machine Learning)

							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="4">
									Use YOUR data when learning to code
							</li>
							<br>
							<li class="fragment fade-in" data-fragment-index="4">
									<a href = "http://ms1.thecrick.org/systems">Try CrickGEO</a>
							</li>
							
						</ul>
						</font>
						<br>
						
						
						
					</section>
					
				</section>
					
					
					
					
			
				<!-- End Slide -->	
				
<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	
				<!-- Begin Slide -->
				<section  id="slide-summary">
					<section data-background-image="mdata/job/html/assets/images/ens.puzzle.image.multiscope.jpg" data-background-size="800px">
						<h1><font color = "ffffff">Summary</font></h1>
					</section>
					
					<section data-transition="fade-in fade out">
						So, you have studied it all localy...
						<img src="mdata/job/html/assets/images/kgxl.piece.puzzle.jpg" width="auto" height="90%">
					</section>
					
					<section data-transition="fade-in fade out">
						...but how to assemble the big picture?
						<img src="mdata/job/html/assets/images/full.victoria.line.plus.two.puzzle.scrambled.jpg" width="auto" height="90%">
					</section>
					
					<section data-transition="fade-in fade out">
						The Whole Can Be More Than The Sum of Its Parts!
						<img src="mdata/job/html/assets/images/full.victoria.line.plus.two.puzzle.jpg" width="auto" height="90%">
					</section>
					
					<section data-transition="fade-in fade out">
						Team Work. 
						<img src="mdata/job/html/assets/images/full.tube.puzzle.jpg" width="auto" height="90%">
					</section>
					
					
				</section>

<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	
				<!-- Begin Slide -->
				<section  id="slide-acknowledgements">
				<h4>Acknowledgements</h4>
					<font size="4" face="arial">
						<ul>
							<li>
								<b>Bioinformatics:</b>The Team
							</li>
							
							<li>
								<b>Proteomics:</b> David Perkins
							</li>
							
							<li>
								<b>Sequencing:</b>Robert Goldstone
							</li>
							
							
							<li>
								<b>HTS:</b> Becky Saunders
							</li>
							
							<li>
							<b>IT:</b>Steve Hindmarch, Bruno Silva
							</li>
							
							<li>
							<b>IT/DDT:</b>Amy Strange, Oli Chaudhary, Said Shire, Marc Polit, Harry Chow, David Stevens 
							</li>
							
							
							<li>
							<b>IT/AIM:</b> Wei Xing, Mike Gavrielides, Jon Smith
							</li>
							
							
							<li>
							<b>IT/Databases:</b>Karen Ambrose, Jacki Goldman
							</li>
							
							<li>
							<b>Data Sharing Comitee:</b>Jesper Svejstrup, Peter Parker, Julian Downward
							</li>
							
							<li>
								<b>Lab Scientists:</b>You and others
							</li>
							
							
						</ul>
						
						</font>
					
					
				</section>					

<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	


				
				
<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	
<!-- Begin Slide -->
				<style>
				html.dimbg .slide-background {
					opacity: 0.2 !important;
				}
				</style>
				
				<section data-background-image="mdata/job/html/assets/images/present.past.future.min.jpg" data-background-size="800px" data-state="dimbg">
				
					<h4>Think!</h4>
					<br>
					
					<div align = "center">
						<font size = 5 face = "courier">
						<b>“Research is to see what everybody has seen<br> and think what nobody has thought."</b>
						</font>
						<br>
						<font size = 2 face = "arial">
							<i>Albert Szent-Györgyi, 1954</i>
						</font>
						<br><br>
						
						<font size = 5 face = "courier">
						<b>“Dans les champs de l'observation le hasard <br>ne favorise que les esprits préparés."</b> <br>(In the fields of observation chance favours only the prepared mind.)
						</font>
						<br><br>
						<font size = 2 face = "arial">
							<i>Louis Pasteur, 1854</i>
						</font>
						
					</div>
				</section>
				<!-- End Slide -->
				
<!--########################################################################-->
<!--########################################################################-->
<!--## Begin Main Section                                                 ##-->
<!--########################################################################-->
<!--########################################################################-->	





		
				
				
				
				<!-- Begin Slide -->
				<!-- End Slide -->
			
				
				
			</div>
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.js'></script>
		<script>
			Reveal.initialize({
				// Display presentation control arrows
				controls: true,

				// Help the user learn the controls by providing hints, for example by
				// bouncing the down arrow when they first encounter a vertical slide
				controlsTutorial: true,

				// Determines where controls appear, "edges" or "bottom-right"
				controlsLayout: 'bottom-right',

				// Visibility rule for backwards navigation arrows; "faded", "hidden"
				// or "visible"
				controlsBackArrows: 'faded',

				// Display a presentation progress bar
				progress: true,

				// Set default timing of 2 minutes per slide
				defaultTiming: 120,

				// Display the page number of the current slide
				slideNumber: false,

				// Push each slide change to the browser history
				history: false,

				// Enable keyboard shortcuts for navigation
				keyboard: true,

				// Enable the slide overview mode
				overview: true,

				// Vertical centering of slides
				center: true,

				// Enables touch navigation on devices with touch input
				touch: true,

				// Loop the presentation
				loop: false,

				// Change the presentation direction to be RTL
				rtl: false,

				// Randomizes the order of slides each time the presentation loads
				shuffle: false,

				// Turns fragments on and off globally
				fragments: true,

				// Flags if the presentation is running in an embedded mode,
				// i.e. contained within a limited portion of the screen
				embedded: false,

				// Flags if we should show a help overlay when the questionmark
				// key is pressed
				help: true,

				// Flags if speaker notes should be visible to all viewers
				showNotes: false,

				// Global override for autoplaying embedded media (video/audio/iframe)
				// - null: Media will only autoplay if data-autoplay is present
				// - true: All media will autoplay, regardless of individual setting
				// - false: No media will autoplay, regardless of individual setting
				autoPlayMedia: null,

				// Number of milliseconds between automatically proceeding to the
				// next slide, disabled when set to 0, this value can be overwritten
				// by using a data-autoslide attribute on your slides
				autoSlide: 0,

				// Stop auto-sliding after user input
				autoSlideStoppable: true,

				// Use this method for navigation when auto-sliding
				autoSlideMethod: Reveal.navigateNext,

				// Enable slide navigation via mouse wheel
				mouseWheel: false,

				// Hides the address bar on mobile devices
				hideAddressBar: true,

				// Opens links in an iframe preview overlay
				// Add `data-preview-link` and `data-preview-link="false"` to customise each link
				// individually
				previewLinks: false,

				// Transition style
				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Transition speed
				transitionSpeed: 'default', // default/fast/slow

				// Transition style for full page slide backgrounds
				backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom

				// Number of slides away from the current that are visible
				viewDistance: 3,

				// Parallax background image
				parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

				// Parallax background size
				parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

				// Number of pixels to move the parallax background per slide
				// - Calculated automatically unless specified
				// - Set to 0 to disable movement along an axis
				parallaxBackgroundHorizontal: null,
				parallaxBackgroundVertical: null,

				// The display mode that will be used to show slides
				display: 'block'

			},{dependencies: [
				// Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
				{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },

				// Interpret Markdown in <section> elements
				{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

				// Syntax highlight for <code> elements
				{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

				// Zoom in and out with Alt+click
				{ src: 'plugin/zoom-js/zoom.js', async: true },

				// Speaker notes
				{ src: 'plugin/notes/notes.js', async: true },

				// MathJax
				{ src: 'plugin/math/math.js', async: true }
			]}
			);
		</script>
	</body>
	
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js'></script>		 
	<script src='https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.js'></script>
	
</html>
