<div style="position: absolute; bottom: 0; width: 100%;">
    <div class='well' style='text-align: center; width: 50%; margin: 0 auto;'>
        <p>©Crick Bioinoformatics and Digital Development 2016-{{ "now"|date("Y") }}</p>
    </div>
</div>
