{% extends 'partials/layout.twig' %}


{% block head_scripts %}

    {% if scatterplotProperties is defined %}
        {#<script type='text/javascript' src='dist/js/jquery.min.js'></script> #}
        <script src='https://code.highcharts.com/highcharts.js'></script>
    {% endif %}
{% endblock %}


{% block content %}
    <div class='content'>


        {% if scatterplotProperties is defined %}
            <div class='content'>

                <div align='center'>
                    <h2>{{ scatterplotProperties['headline']|raw }}</h2>
                    <br>
                </div>
                
                <div align='center'>

                    {% include 'plots/scatterplot.twig' with {
                        'scatterplotProperties': scatterplotProperties

                    } %}

                </div>
                <div align='center'>
                    <h2>{{ scatterplotProperties['linkToCatDescription']|raw }}</h2>
                    <br>
                </div>

            </div>


        {% endif %}

        {% include 'partials/scatter-plot-select.twig' with {
            'cat_id': cat_id,
            'highlight_gene': highlight_gene
        } %}

        {% if table is defined %}
            {% include 'partials/ajax-data-table.twig' with {
                'heading': table['heading'],
                'columns': table['columns'],
                'ajax_post_append': table['ajax_post_append'],
                'ajax_url': url("/"~experiment_code~"/ajax/venn/table")
            } %}
        {% endif %}

        <br>
        <br>
    </div>
{% endblock %}

