<script>
    jQuery(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {renderTo: 'scatterplot',
                type: 'scatter',
                borderWidth: 2,
                borderColor: '#009900',
                zoomType: 'xy',
                //backgroundColor: {
                //    linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                //    stops: [[0, 'rgb(255, 255, 255)'],
                //        [1, 'rgb(247, 251, 255)'],
			//[2, 'rgb(207, 225, 242)'],
			//[3, 'rgb(147, 196, 222)'],
			//[4, 'rgb(74, 151, 201)'],
			//[5, 'rgb(22, 100, 171)'],
			//[6, 'rgb(8, 48, 107)']
            //        ]
            //    },
                plotBackgroundColor: 'rgba(255, 255, 255, .9)',
                plotShadow: true,
                plotBorderWidth: 1
            },

            title: {text: '{{ scatterplotProperties['highlight_gene'] }}'
            },

            credits: {
                enabled: false
            },
            subtitle: {text: ''},
            xAxis: {title:
                    {
                        enabled: true,
                        text: '{{ scatterplotProperties['x_axis_label'] }}'
                    },

                plotLines: [
                    {color: 'black', // Color value
                        dashStyle: 'solid', // Style of the plot line. Default to solid
                        value: 0,  // Value of where the line will appear
                        width: 1 // Width of the line
                    }]
            },
            yAxis: {title:
                    {
                        enabled: true,
                        text: '{{ scatterplotProperties['y_axis_label'] }}'
                    },
                plotLines: [
                    {color: 'black', // Color value
                        dashStyle: 'solid', // Style of the plot line. Default to solid
                        value: 0,  // Value of where the line will appear
                        width: 1 // Width of the line
                    }]
            },
            
        colors: [
            'yellow',
            'orange',
            'red'
        ],
        colorAxis: {
            min: 0,
            max: 100,
            minColor: 'yellow',
            maxColor: 'red'             
           
        },

            plotOptions: {
                scatter: {marker: {
                        radius: 5,
                        states: {
                            hover: {enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: 'Barcode:{point.name}',
                    },
                    //cursor: 'pointer'
                }
            },

            series: [
                {
                    name: '',
                    data: {{ scatterplotProperties['background_series'] | raw}},
                    color: 'rgba(0,0,0,0.5)',
                    turboThreshold: 100000
                }
            ]

        });
    });

</script>


<div id='scatterplot' style='height: 800px; max-width: 800px; margin: 0 auto'>

</div>

