
<div class='container experiment-nav' role='main'>
    <div>
        <a href="{{ url('/'~experiment_code~'/report') }}" class="btn btn-success btn-lg">Report &raquo;</a>

        {% for link_name, link in nav_html_links %}
            <a href="{{ link }}"  target="blank" class="btn btn-success btn-lg">{{ link_name }}</a>
        {% endfor %}
    </div>
</div>
